<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script>
    function changeType(value){
        location.href = "http://localhost:8080/allnews?type="+value;
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все новости</title>
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/allnews.css">
</head>
<body>
        <header th:insert="blocks/header2 :: header2"></header>

        <section class="allnews">
            <div class="container">
                <h6 class="allnews-section-title">MAIN / LOFO POSTS</h6>
                <h4>Lost & Found Posts</h4>

                <form th:action="@{/search}" method="get">
                    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find LoFo by title" size="50" >
                    <button type="submit" class="btn btn-info" >Search</button>
                    <button type="submit" class="btn btn-info" >Reset</button>
                </form>
                <br>

                <select class="allnews-search" name="type" id="type" onchange="changeType(this.value)">
                    <option th:each="option : ${types}" th:value="${option}" th:text="${option}" th:selected="${selectedType==option}"></option>
                </select><br>

                <div class="row">
                    <div th:each="el : ${posts}" class="col-lg-10">
                        <a href="" class="news-card">
                            <div class="card-img">
                                <img th:src="${el.getPhotosImagePath}" alt=""/>
                            </div>
                            <div class="card-text">
                                <h6 th:text="${el.title}" class="cardheader"></h6>
                                <p th:text="${el.description}" class="card-short-description"></p>
                                <p class="news-date"><span class="time">13:44</span>, <span class="date">22.02.2022</span></p>
                            </div>
                            <span>LoFo's Rank: &nbsp</span>
                            <span th:text="${el.rank}"></span>
                        </a>
                    </div>
                </div>

                <div class="show-more">
                    <button class="btn-more">Show more</button>
                </div>
            </div>
            
        </section>

        <footer th:insert="blocks/footer2 :: footer2"></footer>

        <script src="/js/main.js"></script>
</body>
</html>